/* Vue =========== */
[v-cloak] {
  display: none !important;
}

/* Vueアニメーション：フェード */
.va-fade-enter-active,
.va-fade-leave-active {
  transition: 0.3s opacity;
}
.va-fade-enter,
.va-fade-leave-to {
  opacity: 0 !important;
}
.va-fade-enter-to,
.va-fade-leave {
  opacity: 1 !important;
}

/* アニメーション：スライド */
.animelm-slide-in {
  &-top {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.8s opacity, 0.8s transform;
    &.animelm-active {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &-right {
    opacity: 0;
    transform: translateX(-20px);
    transition: 0.8s opacity, 0.8s transform;
    &.animelm-active {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &-left {
    opacity: 0;
    transform: translateX(20px);
    transition: 0.8s opacity, 0.8s transform;
    &.animelm-active {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

/* アニメーション：フェード */
.animelm-fade-in {
  opacity: 0;
  transition: 1.6s opacity;
  &.animelm-active {
    opacity: 1;
  }
}
